trigger:
  branches:
    include:
      - main
      - dev

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  dotnetSdkVersion: '8.0.x'

steps:
- task: UseDotNet@2
  displayName: 'Use .NET SDK'
  inputs:
    packageType: 'sdk'
    version: '8.0.x'

- script: dotnet build Server/Server.csproj -c $(buildConfiguration)
  displayName: 'Build Server'

- script: dotnet build Client/Client.csproj -c $(buildConfiguration)
  displayName: 'Build Client'

- script: dotnet test Server.Tests/Server.Tests.csproj -c $(buildConfiguration) --no-build --verbosity normal
  displayName: 'Run Server Tests'

- script: docker build -t $(Build.Repository.Name)-server -f Server/Dockerfile Server
  displayName: 'Build Server Docker Image'

- script: docker build -t $(Build.Repository.Name)-client -f Client/Dockerfile Client
  displayName: 'Build Client Docker Image'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
