<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/5d6b05f7-8147-4d00-8642-b3606e091d2c/resourceGroups/tudublin-sa3/providers/Microsoft.Web/sites/kennelca3</ResourceId>
    <ResourceGroup>tudublin-sa3</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://kennelca3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3461765f-60a1-21bc-764e-fc799869fe2f</ProjectGuid>
    <PublishUrl>https://kennelca3.scm.azurewebsites.net/</PublishUrl>
    <UserName>$kennelca3</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>