name: Build and deploy Blazor Web App kennel-management-client
on:
  push:
    branches:
    - main

env:
  AZURE_WEBAPP_NAME: kennel-management-client
  AZURE_WEBAPP_PACKAGE_PATH: 'Client/**'
  CONFIGURATION: Release
  DOTNET_CORE_VERSION: 8.0.x
  WORKING_DIRECTORY: Client

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_CORE_VERSION }}
    
    - name: Restore
      run: dotnet restore "${{ env.WORKING_DIRECTORY }}"
    
    - name: Build
      run: dotnet build "${{ env.WORKING_DIRECTORY }}" --configuration ${{ env.CONFIGURATION }} --no-restore
    
    - name: Test
      run: dotnet test "${{ env.WORKING_DIRECTORY }}" --configuration ${{ env.CONFIGURATION }} --no-restore --no-build --verbosity normal
    
    - name: Publish
      run: dotnet publish "${{ env.WORKING_DIRECTORY }}" --configuration ${{ env.CONFIGURATION }} --no-restore --no-build --output '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/publish'
    
    - name: Publish Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: webapp-client
        path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
  
  deploy:
    name: Deploy to Azure Web App
    runs-on: ubuntu-latest
    needs: [build-and-test]
    steps:
    
    - name: Download artifact from build job
      uses: actions/download-artifact@v4
      with:
        name: webapp-client
        path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
    - name: Deploy
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_KENNELMANAGEMENCLIENT }}
        package: '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/publish'